---
import Layout from '../layouts/RetroLayout.astro';


const certifications = [
	{
		name: 'Zero2Automated',
		issuer: 'Zero2Automated',
		date: '2023年8月26日'
	},
	{
		name: 'OSCE3(Offsec Certified Expert 3)',
		issuer: 'Offsec',
		date: '2024年8月19日'
	},
	{
		name: 'OSED(Offsec Exploit Developer)',
		issuer: 'Offsec',
		date: '2024年8月15日'
	},
		{
		name: 'OSWE(Offsec Web Expert)',
		issuer: 'Offsec',
		date: '2024年5月30日'
	},
		{
		name: 'OSEP(Offsec Experienced Penetration Tester)',
		issuer: 'Offsec',
		date: '2024年4月28日'
	},
		{
		name: 'OSMR(Offsec macOS Researcher)',
		issuer: 'Offsec',
		date: '2025年2月26日'
	},
		{
		name: 'OSCP+(Offsec Certified Professional Plus)',
		issuer: 'Offsec',
		date: '2025年2月20日'
	},
		{
		name: 'OSTH(Offsec Threat Hunter)',
		issuer: 'Offsec',
		date: '2024年10月15日'
	},
		{
		name: 'OSIR(Offsec Incident Responder)',
		issuer: 'Offsec',
		date: '2024年11月3日'
	},
	{
		name: 'OSDA(Offsec Defense Analyst)',
		issuer: 'Offsec',
		date: '2023年3月3日'
	},
	{
		name: 'OSWA(Offsec Web Assessor)',
		issuer: 'Offsec',
		date: '2024年4月14日'
	},
	{
		name: 'OSWP(Offsec Wireless Professional)',
		issuer: 'Offsec',
		date: '2024年5月5日'
	},
	{
		name: 'KLCP(Kali Linux Certified Professional)',
		issuer: 'Offsec',
		date: '202年6月30日'
	},
	{
		name: 'OSCC(Offsec CyberCore Security Essentials)',
		issuer: 'Offsec',
		date: '2023年3月3日'
	},
	{
		name: 'OSCC-SJD(Offsec CyberCore Secure Java Development Essentials)',
		issuer: 'Offsec',
		date: '2025年3月21日'
	},
	{
		name: 'eJPTv2(eLearn Security Junior Penetration Tester)',
		issuer: 'INE',
		date: '2023年10月21日'
	},
	{
		name: 'eCPPTv2(eLearn Security Certified Professional Penetration Tester)',
		issuer: 'INE',
		date: '2023年12月1日'
	},
	{
		name: 'eCIR(eLearn Security Certified Incident Responder)',
		issuer: 'INE',
		date: '2023年12月15日'
	},
	{
		name: 'eCTHPv2(eLearn Security Certified Threat Hunting Professional)',
		issuer: 'INE',
		date: '2023年11月30日'
	},
	{
		name: 'eCDFP(eLearn Security Digital Forensics Professional)',
		issuer: 'INE',
		date: '2023年9月17日'
	},
];
---

<Layout
	title="Certifications"
	description="取得した資格の一覧"
	pubDate={new Date('')}
>
	<p>取得した資格の一覧（執行済み含む）</p>

	<ul class="cert-list">
		{
			certifications.map((cert) => (
				<li class="cert-item">
					<div class="cert-name">
						{cert.url ? (
							<a href={cert.url} target="_blank" rel="noopener noreferrer">
								{cert.name}
							</a>
						) : (
							cert.name
						)}
					</div>
					<div class="cert-meta">
						<span class="cert-issuer">{cert.issuer}</span>
						<span class="cert-date">{cert.date}</span>
					</div>
				</li>
			))
		}
	</ul>
</Layout>

<style>
	.cert-list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.cert-item {
		padding: 1rem 0;
		border-bottom: 1px solid rgba(var(--gray), 0.2);
	}
	.cert-item:last-child {
		border-bottom: none;
	}
	.cert-name {
		font-weight: 700;
		font-size: 1.1rem;
	}
	.cert-name a {
		color: rgb(var(--accent));
	}
	.cert-meta {
		display: flex;
		gap: 1rem;
		margin-top: 0.25rem;
		color: rgb(var(--gray));
		font-size: 0.95rem;
	}
</style>