---
const today = new Date();
---

<div class="retro-footer">
	<hr class="rainbow" />
	<div class="links">
		[ <a href="https://x.com/the_art_of_nerd" target="_blank">X(Twitter)</a>
		| <a href="https://github.com/theartofnerd" target="_blank">GitHub</a> ]
	</div>
	Copyright © {today.getFullYear()} theartofnerd. All Rights Reserved.<br />
	推奨環境: Netscape Navigator 4.0 / 800×600
</div>

<style>
	.retro-footer {
		text-align: center;
		font-size: 11px;
		color: #996633;
		padding: 12px;
		font-family: 'Comic Sans MS', 'MS PGothic', sans-serif;
	}
	.rainbow {
		height: 4px;
		border: 0;
		background: linear-gradient(to right, red, orange, yellow, green, blue, violet);
		max-width: 800px;
		margin: 8px auto;
	}
	.links {
		margin-bottom: 6px;
	}
	.retro-footer a {
		color: #0000ee;
	}
</style>